<div ng-controller="ViewEmployeesCtrl">
    <p class="text-danger"><strong>{{Msg}}</strong></p>
    <br>
    <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"   class="table table-hover"></table>
    <!--<table id="entry-grid" datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover"></table>-->
</div>


<!--<div ng-controller="ViewEmployeesCtrl">
    <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover"></table>
</div>-->
